<h1>Grid View Component</h1>
<div class="box">
    <table class="table w-100">
        <thead>
            <tr>
                <th>SI No</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>One</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Two</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Three</td>
            </tr>
        </tbody>
    </table>
</div>