<h1>About</h1>
@* Strongly typed partial views *@
@{
    ListModel listModel = new ListModel();
    listModel.ListTitle = "Countries";
    listModel.ListItems = new List<string>(){"Country1","Country2","Country3","Country4"}; 
}
<partial name="_ListPartialView" model="listModel"></partial>
<partial name="_ListPartialView" model="listModel"></partial>
<div class="box">
@* @{
    ViewData["ListTitle"] = "Different Data";
    ViewData["ListItems"] = new List<string>{
    "C",
    "C++",
    "Java",
    "Python",
    };
}*@

<partial name="_ListPartialView" model="listModel"></partial>
</div>