<h1>Home</h1>
@{
    ListModel listModel = new ListModel();
    listModel.ListTitle = "Countries";
    listModel.ListItems = new List<string>(){"America","canada","california","Zoho"}; 
}
<partial name="_ListPartialView" model="listModel"></partial>