<h1>Home</h1>
@{
    ListModel listModel = new ListModel();
    listModel.ListTitle = "Countries";
    listModel.ListItems = new List<string>(){"America","canada","california","Zoho"}; 
}
@* <partial name="_ListPartialView" model="listModel"></partial> *@
<button class="button button-blue-back" type="button" id="button-load">Load Programming Languages</button>
<div class="box programming-languages-content">
    
</div>
<script>
    document.querySelector('#button-load').addEventListener('click',async function(){
        var response = await fetch('programmingLanguages');
        var languages = await response.text();
        document.querySelector('.programming-languages-content').innerHTML = languages;
    });
</script>