<div class="list-container">
    @if(@ViewBag.ListTitle!=null){
    <h3>@ViewBag.ListTitle</h3>
    }
    <ul class="list">
        @if(@ViewBag.ListItems!=null && @ViewBag.ListItems.Count>0){
        @foreach(string item in @ViewBag.ListItems){
        <li>@item</li>
        }
        }
    </ul>
</div>