@{
    @* Layout = "~/Views/Shared/_Layout.cshtml"; *@
    ViewData["Title"]="Search";
    if(ViewBag.ProductID!=null){
       Layout = "~/Views/Shared/_products.cshtml";
    }
}

<h1>@ViewData["Title"] page displayed via _Layout view</h1>
 @if(ViewBag.ProductID!=null){
    <p>And product ID is : @ViewData["ProductID"]</p>
  }