@{
    @* Layout = "~/Views/Shared/_Layout.cshtml"; *@
    ViewData["Title"]="Contact";
}

<h1>@ViewData["Title"] page displayed via _Layout view</h1>

@section Footer_section{
    <p>Contact support: 78965438792232345343534</p>
}