@*Nested layout*@
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
@* This file is common for all the views *@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/style.css">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="navbar-brand">ASP NET core</div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about-company">About</a></li>
                <li><a href="/contact-support">Contact</a></li>
                <li><a href="/products">All Products</a></li>
                <li><a href="/search-products">Search Products</a></li>
                <li><a href="/order-product">Order Product</a></li>
            </ul>
        </div>
    <div>
        @RenderBody()
    </div>
    <div class="footer_content">
        @RenderSection("Footer_section",false)
    </div>
    </div>
</body>
</html>